// Main colors
$leaf_color : lightgreen;
$mintGreen_color : rgb(0, 255, 200);
$parallax_Img2 : url(Images/CatAtNight.jpg);
$parallax_Img1 : url(Images/garfield.jpg);
$parallax_Img3 : url(Images/CatVaccum.gif);
$logoImg : url(Images/Cats_Logo.png);

$catsFont : "./Fonts/deathrattlebb_reg.ttf";