@import "./variables";
@import "./functions";






@include customFont($catsFont, catsFont);
@include customFont($breadFont, breadFont);
@include customFont($subTitleFont, subTitleFont);

body{
    background-color: white;
    margin: auto;
    @include textProp(1.4em, black, normal, center);
    font-family: breadFont;
}



.navbar{
    @include flexProp(center, center);
    
    h2{
        @include textProp(5em, black, normal, center);
        font-family: catsFont;

        &:hover{
            @include textProp(5em, red, normal, center);
        }
    }
}



.startPar, .middlePar, .lastPar{
    @include parallaxProp();
    background-color: red;
    height: 100vh;
}

.startPar{
    background-image: $parallax_Img1;
    @include flexProp(start, center);
    div{
        margin: 5%;
        width: 30%;
        background-color: #fff;
        box-shadow: black 0 0 20px;
        @include textProp(1.3em, black, normal, center);
        padding: 3%;
        
    }
}

.main{
    height: 30vh;
    background-color: #fff;
    color: black;
    @include flexProp(center, center);
    justify-content: space-around;
    h1{
        @include textProp(3.5em, black, bold, center);
        font-family: subTitleFont;
    }

    h1:hover{
        cursor: pointer;
    }
}

.middlePar{
    background-image: $parallax_Img2;
    @include flexProp(flex-end, center);
    div{
        margin: 5%;
        width: 30%;
        background-color: #fff;
        box-shadow: black 0 0 20px;
        @include textProp(1.3em, black, normal, center);
        padding: 3%;
    }
}

.mediabox{
    
    @include textProp(1.2em, #691A26, normal, center);
    padding: 4%;
}

#lastPar{
    @include parallaxProp();
   background-image: $parallax_Img3;
   @include flexProp(flex-start, center);
   div{
        margin: 5%;
        width: 30%;
        background-color: #fff;
        box-shadow: black 0 0 20px;
        padding: 3%;
        @include textProp(1.3em, black, normal, center);
   }

   
}
.footer{
    @include flexProp(center, center);
    width: 100%;
    height: 100px;
    background-color: #000;
    color: #fff;
}