@import './variables';
@mixin flexCenter {
    display: flex;
    justify-content: center;
}

header{
    font-size: 2em;
    color: red;
    @include flexCenter();
    background-image: url(WaifuWallpaper.jpg);
    height: 150px;
}

.navbar{
    display: flex;
    flex-direction: row;
    
}